.container-fluid{
padding:0;
}
.navbar{
    background-color: navy;
    color:white;
}

.hero{
    background-color: aliceblue;
}























.footer{
    background-color: navy;
    color: white;
}




















